# 数据库配置
DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=lskypro

# 应用配置
APP_PORT=8000
APP_URL=http://localhost:8000
JWT_SECRET=change-me-to-a-random-string
